#include <os2.h>
#include "watch.h"

ICON IDM_WATCHMAIN watch.ico

// DEFINE THE KEYBOARD ACCELERATOR TABLES FOR QUICK MENU SELECT
ACCELTABLE IDM_WATCHMAIN PRELOAD
BEGIN
  "l",       IDM_WATCHLOGTOFILE,    CHAR, CONTROL
  "L",       IDM_WATCHLOGTOFILE,    CHAR, CONTROL
  "t",       IDM_WATCHTRUNCATEFILE, CHAR, CONTROL
  "T",       IDM_WATCHTRUNCATEFILE, CHAR, CONTROL
  VK_DELETE, IDM_WATCHCLEARMSGAREA, VIRTUALKEY
  VK_F3,     IDM_WATCHEXIT,         VIRTUALKEY
END

// DEFINE THE STARTUP MAIN MENU AND MENU PULL-DOWN STRUCTURES...
MENU IDM_WATCHMAIN PRELOAD
BEGIN
  SUBMENU "~File", IDM_WATCHOPTIONS
    BEGIN
      MENUITEM "~Clear Message Area\tDel",  IDM_WATCHCLEARMSGAREA, MIS_TEXT
      MENUITEM "~Open Log File...\tCtrl+L", IDM_WATCHLOGTOFILE,    MIS_TEXT
      MENUITEM "~Truncate File\tCtrl+T", IDM_WATCHTRUNCATEFILE,    MIS_TEXT, MIA_DISABLED
    END

  SUBMENU "E~xit",    IDM_WATCHEXITMENU
    BEGIN
      MENUITEM "E~xit Watch/2\tF3",         IDM_WATCHEXIT,   MIS_TEXT
      MENUITEM "~Resume",                   IDM_WATCHRESUME, MIS_TEXT
    END

  SUBMENU "F1=Help",  IDM_WATCHHELP, MIS_HELP | MIS_BUTTONSEPARATOR
    BEGIN
      MENUITEM "~Help for Help...",  IDM_WATCHHELPFORHELP, MIS_TEXT
      MENUITEM "~Extended Help...",  SC_HELPEXTENDED, MIS_SYSCOMMAND
      MENUITEM "~Keys Help...",      SC_HELPKEYS,     MIS_SYSCOMMAND
      MENUITEM "Help ~Index...",     SC_HELPINDEX,    MIS_SYSCOMMAND
      MENUITEM SEPARATOR
      MENUITEM "~About...",          IDM_WATCHABOUT,  MIS_TEXT
      MENUITEM SEPARATOR
      MENUITEM "Installing in ~Clients...", IDM_CLIENTINSTALL, MIS_TEXT
    END
END

// DEFINE HELP TABLE STRUCTURES FOR IPF HANDLING...
HELPTABLE IDM_WATCHHELPTABLE
BEGIN
  HELPITEM IDM_WATCHMAIN,       IDM_WATCHMAINSUBTABLE,    IDM_WATCHMAIN
  HELPITEM IDM_WATCHLOGFILEDLG, IDM_WATCHLOGFILESUBTABLE, IDM_WATCHMAIN
  HELPITEM IDM_WATCHHELP,       IDM_WATCHHELPSUBTABLE,    IDM_WATCHMAIN
  HELPITEM IDM_WATCHABOUTDLG,   IDM_WATCHABOUTSUBTABLE,   IDM_WATCHMAIN
END
HELPSUBTABLE IDM_WATCHMAINSUBTABLE
BEGIN
  HELPSUBITEM IDM_WATCHMAIN,         IDH_WATCHMAIN
  HELPSUBITEM IDM_WATCHOPTIONS,      IDH_WATCHOPTIONS
  HELPSUBITEM IDM_WATCHCLEARMSGAREA, IDH_WATCHCLEARMSGAREA
  HELPSUBITEM IDM_WATCHLOGTOFILE,    IDH_WATCHLOGTOFILE
  HELPSUBITEM IDM_WATCHTRUNCATEFILE, IDH_WATCHTRUNCATEFILE
  HELPSUBITEM IDM_WATCHEXITMENU,     IDH_WATCHEXITMENU
  HELPSUBITEM IDM_WATCHEXIT,         IDH_WATCHEXIT
  HELPSUBITEM IDM_WATCHRESUME,       IDH_WATCHRESUME
  HELPSUBITEM IDM_WATCHHELP,         IDH_WATCHHELP
  HELPSUBITEM IDM_WATCHHELPFORHELP,  IDH_WATCHHELPFORHELP
  HELPSUBITEM SC_HELPEXTENDED,       IDH_WATCHEXTENDEDHELP
  HELPSUBITEM SC_HELPKEYS,           IDH_WATCHKEYSHELP
  HELPSUBITEM SC_HELPINDEX,          IDH_WATCHHELPINDEX
  HELPSUBITEM IDM_WATCHABOUT,        IDH_WATCHABOUT
  HELPSUBITEM IDM_CLIENTINSTALL,     IDH_CLIENTINSTALL
END
HELPSUBTABLE IDM_WATCHLOGFILESUBTABLE
BEGIN
  HELPSUBITEM IDM_WATCHLOGFILENAME,    IDH_WATCHLOGFILENAME
  HELPSUBITEM IDM_WATCHLOGFILE_OK,     IDH_WATCHLOGFILE_OK
  HELPSUBITEM IDM_WATCHLOGFILE_CANCEL, IDH_WATCHLOGFILE_OK
END
HELPSUBTABLE IDM_WATCHHELPSUBTABLE
BEGIN
  HELPSUBITEM IDM_WATCHHELPFORHELP,    IDH_WATCHHELPFORHELP
  HELPSUBITEM IDM_WATCHEXTENDEDHELP,   IDH_WATCHMAIN
  HELPSUBITEM IDM_WATCHKEYSHELP,       IDH_WATCHKEYSHELP_ALT
  HELPSUBITEM IDM_WATCHHELPINDEX,      IDH_WATCHHELPINDEX
  HELPSUBITEM IDM_WATCHABOUT,          IDH_WATCHABOUTDLG
  HELPSUBITEM IDM_CLIENTINSTALL,       IDH_CLIENTINSTALL_ALT
END
HELPSUBTABLE IDM_WATCHABOUTSUBTABLE
BEGIN
  HELPSUBITEM IDM_WATCHABOUT_OK,       IDH_WATCHABOUT_OK
END

// INCLUDE APPROPRIATE DIALOG DEFINITIONS FOR THE WATCH.DLG FILE...
rcinclude WATCH.DLG
